<div class="sm:w-3/12 hidden sm:block space-y-4">
    <!--  -->
    <div
      class="
        bg-white
        w-full
        mx-auto
        py-6
        px-8
        rounded-xl
        divide-y divide-fatou-black-50
        space-y-4
      "
    >
      <div class="w-full flex items-center justify-between">
        <h2 class="font-medium text-lg text-fatou-black">Network Request</h2>
        <!-- <router-link to="/" class="text-fatou-blue font-medium">
          View All
        </router-link> -->
      </div>
      <!-- cards -->
      <div class="space-y-2 py-2.5">
        <!--  -->
        <div
          class="
            flex
            items-center
            justify-between
            px-6
            py-4
            rounded-xl
            border border-fatou-black-50
          "
        >
          <div class="bg-fatou-gray-800 h-10 w-10 rounded-full"></div>
          <div>
            <h3 class="fs-12 text-fatou-black font-medium">Hawkins</h3>
            <p class="fs-10 text-fatou-gray-600">Location</p>
          </div>
          <div class="space-y-1.5">
            <button
              class="
                bg-transparent
                text-fatou-blue
                py-1
                px-2
                rounded-full
                font-medium
                border-2 border-fatou-blue
                flex
                items-center
                justify-center
                space-x-2
              "
            >
              <span>
                <svg
                  width="12"
                  height="15"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 3V10"
                    stroke="#21BCD1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M2.5 6.5H9.5"
                    stroke="#21BCD1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="fs-11"> Accept </span>
            </button>
            <button
              class="
                bg-fatou-blue
                text-white
                py-1
                px-2
                rounded-full
                font-medium
                flex
                items-center
                justify-center
                space-x-2
              "
            >
              <span>
                <svg
                  width="12"
                  height="13"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 3.5H2.5H10.5"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4 3.5V2.5C4 2.23478 4.10536 1.98043 4.29289 1.79289C4.48043 1.60536 4.73478 1.5 5 1.5H7C7.26522 1.5 7.51957 1.60536 7.70711 1.79289C7.89464 1.98043 8 2.23478 8 2.5V3.5M9.5 3.5V10.5C9.5 10.7652 9.39464 11.0196 9.20711 11.2071C9.01957 11.3946 8.76522 11.5 8.5 11.5H3.5C3.23478 11.5 2.98043 11.3946 2.79289 11.2071C2.60536 11.0196 2.5 10.7652 2.5 10.5V3.5H9.5Z"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5 6V9"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 6V9"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="fs-11"> Decline </span>
            </button>
          </div>
        </div>
        <!--  -->
        <div
          class="
            flex
            items-center
            justify-between
            px-6
            py-4
            rounded-xl
            border border-fatou-black-50
          "
        >
          <div class="bg-fatou-gray-800 h-10 w-10 rounded-full"></div>
          <div>
            <h3 class="fs-12 text-fatou-black font-medium">Hawkins</h3>
            <p class="fs-10 text-fatou-gray-600">Location</p>
          </div>
          <div class="space-y-1.5">
            <button
              class="
                bg-transparent
                text-fatou-blue
                py-1
                px-2
                rounded-full
                font-medium
                border-2 border-fatou-blue
                flex
                items-center
                justify-center
                space-x-2
              "
            >
              <span>
                <svg
                  width="12"
                  height="15"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 3V10"
                    stroke="#21BCD1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M2.5 6.5H9.5"
                    stroke="#21BCD1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="fs-11"> Accept </span>
            </button>
            <button
              class="
                bg-fatou-blue
                text-white
                py-1
                px-2
                rounded-full
                font-medium
                flex
                items-center
                justify-center
                space-x-2
              "
            >
              <span>
                <svg
                  width="12"
                  height="13"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 3.5H2.5H10.5"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4 3.5V2.5C4 2.23478 4.10536 1.98043 4.29289 1.79289C4.48043 1.60536 4.73478 1.5 5 1.5H7C7.26522 1.5 7.51957 1.60536 7.70711 1.79289C7.89464 1.98043 8 2.23478 8 2.5V3.5M9.5 3.5V10.5C9.5 10.7652 9.39464 11.0196 9.20711 11.2071C9.01957 11.3946 8.76522 11.5 8.5 11.5H3.5C3.23478 11.5 2.98043 11.3946 2.79289 11.2071C2.60536 11.0196 2.5 10.7652 2.5 10.5V3.5H9.5Z"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5 6V9"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 6V9"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="fs-11"> Decline </span>
            </button>
          </div>
        </div>
        <!--  -->

        <div
          class="
            flex
            items-center
            justify-between
            px-6
            py-4
            rounded-xl
            border border-fatou-black-50
          "
        >
          <div class="bg-fatou-gray-800 h-10 w-10 rounded-full mr-2"></div>
          <div class="mr-2">
            <h3 class="fs-12 text-fatou-black font-medium">Gabriel</h3>
            <p class="fs-10 text-fatou-gray-600">Location</p>
          </div>
          <div class="space-y-1.5">
            <button
              class="
                bg-transparent
                text-fatou-blue
                py-1
                px-2
                rounded-full
                font-medium
                border-2 border-fatou-blue
                flex
                items-center
                justify-center
                space-x-2
              "
            >
              <span>
                <svg
                  width="12"
                  height="15"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 3V10"
                    stroke="#21BCD1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M2.5 6.5H9.5"
                    stroke="#21BCD1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="fs-12"> Accept </span>
            </button>
            <button
              class="
                bg-fatou-blue
                text-white
                py-1
                px-2
                rounded-full
                font-medium
                flex
                items-center
                justify-center
                space-x-2
              "
            >
              <span>
                <svg
                  width="12"
                  height="13"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 3.5H2.5H10.5"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4 3.5V2.5C4 2.23478 4.10536 1.98043 4.29289 1.79289C4.48043 1.60536 4.73478 1.5 5 1.5H7C7.26522 1.5 7.51957 1.60536 7.70711 1.79289C7.89464 1.98043 8 2.23478 8 2.5V3.5M9.5 3.5V10.5C9.5 10.7652 9.39464 11.0196 9.20711 11.2071C9.01957 11.3946 8.76522 11.5 8.5 11.5H3.5C3.23478 11.5 2.98043 11.3946 2.79289 11.2071C2.60536 11.0196 2.5 10.7652 2.5 10.5V3.5H9.5Z"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5 6V9"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 6V9"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="fs-12"> Decline </span>
            </button>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
    <!--  -->
    <div
      class="
        bg-white
        w-full
        mx-auto
        py-6
        px-4
        rounded-xl
        divide-y divide-fatou-black-50
        space-y-4
      "
    >
      <div class="w-full flex items-center justify-between ">
        <h2 class="font-medium text-md text-fatou-black">Chats</h2>
        <router-link to="/home/chats" class="text-fatou-blue font-medium text-sm">
          View All
        </router-link>
      </div>
      <!-- cards -->
      <div class="space-y-2 py-2.5">
        <!--  -->
        <div class="flex items-center justify-between px-2 py-4 rounded-xl">
          <div>
            <img
              src="/images/png/chatUser1.png"
              class="h-10 w-10 rounded-full"
              alt=""
            />
          </div>
          <div class="flex h-full flex-col items-start justify-between">
            <h3 class="text-fatou-black font-medium fs-12">
              Kathryn Murphy
            </h3>
            <p class="fs-9 fatou-text-black-opacity font-medium">
              Enter your message here
            </p>
          </div>
          <div class="space-y-1.5">
            <span>
              <h1 class="fatou-text-black-opacity text-xs font-medium">12m</h1>
            </span>
            <div
              class="
                flex
                items-center
                space-x-1
                px-3.5
                py-1
                bg-fatou-gray-700
                rounded-full
              "
            >
              <svg
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.08366 8.75V7.91667C7.08366 7.47464 6.90806 7.05072 6.5955 6.73816C6.28294 6.4256 5.85902 6.25 5.41699 6.25H2.08366C1.64163 6.25 1.21771 6.4256 0.905148 6.73816C0.592587 7.05072 0.416992 7.47464 0.416992 7.91667V8.75"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.74967 4.58333C4.67015 4.58333 5.41634 3.83714 5.41634 2.91667C5.41634 1.99619 4.67015 1.25 3.74967 1.25C2.8292 1.25 2.08301 1.99619 2.08301 2.91667C2.08301 3.83714 2.8292 4.58333 3.74967 4.58333Z"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.58301 8.75003V7.9167C9.58273 7.54742 9.45982 7.18869 9.23358 6.89683C9.00733 6.60497 8.69056 6.39652 8.33301 6.3042"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.66699 1.3042C7.0255 1.39599 7.34326 1.60449 7.57017 1.89683C7.79709 2.18917 7.92026 2.54871 7.92026 2.91878C7.92026 3.28885 7.79709 3.6484 7.57017 3.94074C7.34326 4.23307 7.0255 4.44157 6.66699 4.53337"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-fatou-blue text-xs">Badge</span>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="flex items-center justify-between px-2 py-4 rounded-xl">
          <div>
            <img
              src="/images/png/chatUser2.png"
              class="h-10 w-10 rounded-full"
              alt=""
            />
          </div>
          <div class="flex h-full flex-col items-start justify-between">
           <h3 class="text-fatou-black font-medium fs-12">
              Caramela Smith
            </h3>
            <p class="fs-9 fatou-text-black-opacity font-medium">
              Enter your message here
            </p>
          </div>
          <div class="space-y-1.5">
            <span>
              <h1 class="fatou-text-black-opacity text-xs font-medium">12m</h1>
            </span>
            <div
              class="
                flex
                items-center
                space-x-1
                px-3.5
                py-1
                bg-fatou-gray-700
                rounded-full
              "
            >
              <svg
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.08366 8.75V7.91667C7.08366 7.47464 6.90806 7.05072 6.5955 6.73816C6.28294 6.4256 5.85902 6.25 5.41699 6.25H2.08366C1.64163 6.25 1.21771 6.4256 0.905148 6.73816C0.592587 7.05072 0.416992 7.47464 0.416992 7.91667V8.75"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.74967 4.58333C4.67015 4.58333 5.41634 3.83714 5.41634 2.91667C5.41634 1.99619 4.67015 1.25 3.74967 1.25C2.8292 1.25 2.08301 1.99619 2.08301 2.91667C2.08301 3.83714 2.8292 4.58333 3.74967 4.58333Z"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.58301 8.75003V7.9167C9.58273 7.54742 9.45982 7.18869 9.23358 6.89683C9.00733 6.60497 8.69056 6.39652 8.33301 6.3042"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.66699 1.3042C7.0255 1.39599 7.34326 1.60449 7.57017 1.89683C7.79709 2.18917 7.92026 2.54871 7.92026 2.91878C7.92026 3.28885 7.79709 3.6484 7.57017 3.94074C7.34326 4.23307 7.0255 4.44157 6.66699 4.53337"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-fatou-blue text-xs">Badge</span>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="flex items-center justify-between px-2 py-4 rounded-xl">
          <div>
            <img
              src="/images/png/chatUser3.png"
              class="h-10 w-10 rounded-full"
              alt=""
            />
          </div>
          <div class="flex h-full flex-col items-start justify-between">
             <h3 class="text-fatou-black font-medium fs-12">
              Theresa webb
            </h3>
            <p class="fs-9 fatou-text-black-opacity font-medium">
              Enter your message here
            </p>
          </div>
          <div class="space-y-1.5">
            <span>
              <h1 class="fatou-text-black-opacity text-xs font-medium">13m</h1>
            </span>
            <div
              class="
                flex
                items-center
                space-x-1
                px-3.5
                py-1
                bg-fatou-gray-700
                rounded-full
              "
            >
              <svg
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.08366 8.75V7.91667C7.08366 7.47464 6.90806 7.05072 6.5955 6.73816C6.28294 6.4256 5.85902 6.25 5.41699 6.25H2.08366C1.64163 6.25 1.21771 6.4256 0.905148 6.73816C0.592587 7.05072 0.416992 7.47464 0.416992 7.91667V8.75"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.74967 4.58333C4.67015 4.58333 5.41634 3.83714 5.41634 2.91667C5.41634 1.99619 4.67015 1.25 3.74967 1.25C2.8292 1.25 2.08301 1.99619 2.08301 2.91667C2.08301 3.83714 2.8292 4.58333 3.74967 4.58333Z"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.58301 8.75003V7.9167C9.58273 7.54742 9.45982 7.18869 9.23358 6.89683C9.00733 6.60497 8.69056 6.39652 8.33301 6.3042"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.66699 1.3042C7.0255 1.39599 7.34326 1.60449 7.57017 1.89683C7.79709 2.18917 7.92026 2.54871 7.92026 2.91878C7.92026 3.28885 7.79709 3.6484 7.57017 3.94074C7.34326 4.23307 7.0255 4.44157 6.66699 4.53337"
                  stroke="#21BCD1"
                  stroke-width="0.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-fatou-blue text-xs">Badge</span>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>







  <!--  -->

<div class="flex items-center justify-between space-x-6">
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text text-fatou-gray-400">Start Date</span>
        </label>
        <input
          type="text" v-model="v$.form.start.$model"
          class=" w-full  bg-fatou-gray-200 focus:outline-none py-2 px-3 border-fatou-gray-400 border-[1px] rounded-md" v-on:keyup="handleEdit"
      />
    </div>
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text text-fatou-gray-400">End Date</span>
      </label>
      <input type="text" v-model="v$.form.end.$model"
      class="w-full bg-fatou-gray-200 focus:outline-none py-2 px-3 border-fatou-gray-400 border-[1px] rounded-md"
      v-on:keyup="handleEdit"
      />

    </div>
</div>



<div class="form-control md:col-span-2">
  <vue-tel-input :value="v$.form.title.$model" @input="onPhoneInput" class="w-full
   bg-fatou-gray-200
   focus:outline-none
   py-2
   px-3
   border-fatou-gray-400 border-[1px]
   rounded-md"></vue-tel-input>
 <div v-if="v$.form.title.$error" class="text-red-600 text-xs">
   {{'* ' + v$.form.title.$errors[0].$message}}
</div>
</div>



 <div class="py-2 flex items-center justify-center">
<button
:disabled="v$.form.company.$invalid || v$.form.pronouns.$invalid || v$.form.start.$invalid  || v$.form.end.$invalid  || v$.form.title.$invalid"
           type="button"
             @click="calculateSteps"
 class="btn bg-fatou-blue hover:bg-fatou-blue rounded-3xl border-0 text-white px-28"
>
 Next
</button>
</div>

   </div>